@model EntityLayer.Entity.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Rezervasyon Yap</h1>

<form method="post" class="form-control" enctype="multipart/form-data">
    <div class="form-group">
        @Html.Label("Lokasyonlar")
        @Html.DropDownListFor(x=>x.DestinationID,(List<SelectListItem>)ViewBag.v,new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.Label("Kişi Sayısı")
        <input class="form-control" type="number" asp-for="PersonCount" />
    </div>
    <div class="form-group">
        @Html.Label("Tarih")
        <input class="form-control" type="date" asp-for="ReservationDate" />
    </div>
    <div class="form-group">
        @Html.Label("Varsa eklemek istedikleriniz")
        <input class="form-control" type="text" asp-for="Desription" />
    </div>
    <button class="btn btn-outline-primary"
        onclick="alert('Rezervasyonunuz başlangıçta onay bekliyor şeklinde alınacaktır.Rezervasyon onaylanma süreci için güncel rezervasyonlarım menüsünü takip etmeyi unutmayın');">Rezervasyon Ekle
    </button>
   
</form>

